body {
    font-family: Times, Times New Roman, serif;
    margin: 0;
    min-height: 100vh;
    background-color: #216939;
    color: #f1f5f9;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #e0f2fe;
    text-align: center;
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 80px;
    text-decoration-line: underline overline;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 600px;
    padding: 25px;
    margin-bottom: 30px;

}

input {
    padding: 12px;
    font-size: 18px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 12px;

}

button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #a823a8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;

}

button:hover {
    background-color: #eb6e25;
}

ul {
    width: 600px;
    margin: 0 auto;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    background-color: #ff97dc;
    color: #000000;
    padding: 10px;
    border-radius: 12px;
}

p{
    font-size: 20px;
}
